<form id="addToWordlistForm">
    <h2>Build on the hangman experience!</h2>
    <h3>Add a word of your own</h3>
    <label for="word">Word:</label>
    <input type="text" id="word" name="word" required>
    
    <label for="hint">Hint:</label>
    <input type="text" id="hint" name="hint" required>
  
    <button type="submit">Add Word to Wordlist</button>
  </form>