<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front Page</title>
  <link rel="stylesheet" href="/styles/hangmanstyle.css">
</head>

<body>
  <div class="main-container">
    <%- include('navbar.ejs') %>

      <div class="frontpage-welcome">
        <h1>Hello, <%= username %>
        </h1>
        <h1>Welcome to the Front Page!</h1>
      </div>
      <div class="frontpage-welcome center">
        <img src="/images/hangman-frontpage.png" alt="Description of the image">
      </div>

  </div>
</body>

</html>