<body>
    <nav class="navbar">
        <div class="logo">
            <a href="/">Hang'n Chat app</a>
        </div>
        <div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/hangman">Hangman Game</a></li>
                <li><a href="/highscores">Highscores</a></li>
                <li><a href="/chatroom">Chatroom</a></li>
                <li> <button id="logout-btn">Logout</button></li>
            </ul>
        </div>
    </nav>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.getElementById("logout-btn").addEventListener("click", () => {
            fetch("/auth/logout", {
                method: "GET",
                credentials: "include"
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.href = "/login";
                    }
                })
                .catch((error) => {
                    console.error(error);
                });
        });
    </script>
</body>

</html>