<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <form id="signup-form" method="POST">
    <h1>Sign Up</h1>
    <p id="error" style="color: red;"></p>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" placeholder="Enter Username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Enter Password" required>
    </div>
    <div>
      <button type="submit">Create Account</button>
      <button type="button" onclick="location.href='/login'">Already have an Account?</button>
    </div>
  </form>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/signupScripts.js"></script>
</body>
</html>